@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

/*body*/
html {
  font-size: 1rem;
}

.fonte-titulo {
  font-family: 'Pacifico', cursive;
  
}

/*carrossel*/
.imagem-carrossel {
  object-fit:cover; object-position: 0 80%;
  height: 400px;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.img-fluid{
  width: 100%;
  height: 400px;
}
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f2f9f8;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #555;
}

.section-title p {
  margin-bottom: 0;
}

	.col-projetos{
		padding: 60px;
	}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about h3 {
  font-weight: 400;
  font-size: 26px;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  padding-bottom: 10px;
}

.about ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #70b9b0;
}

.about p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.services .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.services .icon i {
  color: #70b9b0;
  font-size: 42px;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.services .title a {
  color: #343a40;
  transition: 0.3s;
}

.services .icon-box:hover .title a {
  color: #70b9b0;
}

.services .description {
  line-height: 24px;
  font-size: 14px;
}
#services{
	background-color: white;
}
/*mapa esta no html*/

/*------------------------------------
footer
-----------------------------------*/
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    position: absolute;
    width: 100%;
}
/*formulario pagina de acesso alunos*/
.form-signin {    
 width: 100%;    
 max-width: 330px;  
padding: 15px; 
 margin: auto; 
 background-color:#f9f9f9 ;
} 
.form-control{
  margin-top: 20px
}

/*album*/
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}


